.about-us {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 1100px;
  position: relative;
}

.about-us article {
  display: flex;
  justify-content: space-between;
}

.about-us .the-team {
  display: flex;
  gap: 1rem;
}

.about-us img {
  width: 9rem;
  height: 9rem;
  border-radius: 16px;
}

.about-us p {
  max-width: 20rem;
  margin: 1rem 0;
}

.about-us h1 {
  line-height: 3rem;
  margin-top: 2rem;
}

@media screen and (min-width: 900px) {
  .about-us img {
    width: 25rem;
    height: auto;
    position: absolute;
    right: 1rem;
    top: 1.5rem
  }

  .about-us .the-team img:last-child {
    right: 18rem;
    top: 10rem
  }

}