.page-footer {
  background-color: #edefee;
}

.footer {
  margin: 1rem auto 0;
  padding: 3rem;
  max-width: 1100px;
}

.footer img {
  width: 10rem;
}

.footer h3 {
  margin: 1rem 0;
}

.footer ul {
  list-style: none;
}


@media screen and (min-width: 900px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer h3 {
    margin-top: 0;
  }
}