a:link, input.btn {
  transition: color .2s ease-out;
}
a:hover {
  color: #F4CE14;
}

a.btn {
  display: block;
  text-align: center;
}

a.btn:link, input.btn {
  padding: 1rem 2rem;
  background-color: #F4CE14;
  border-color: transparent;
  border-radius: 16px;
  cursor: pointer;
}

a.btn:hover, input.btn:hover {
  background-color: #EE9972;
  color: #fff;
}